/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');
p,*,table{
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
body{
    margin: 0 200px 0 200px;
    max-width: 1200px;
}
#logo:hover [id="1"]{
margin-left:-4px;
}
#logo:hover [id="2"]{
    margin-left:4px;
}
[id="2"]{
    margin: 2px;
    color: black;
}
[id="1"]{
    margin: -2px;
    color: #F55C4C;
}
h1{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    position: absolute;
    margin: 0;
    color: white;
}
h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 30px;
}
h3{
    color: #F55C4C;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
}
.menu-items h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
}
.menu-items h3:hover{
    color:#ce4420;
}
.menu-items{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
button{
    background-color: transparent;
    border: 1px solid #F55C4C;
}
button[type="search"]:hover h3{
    color: white;
}
button[type="add"]:hover h3{
    color: white;
}
button[type="search"]:hover,button[type="add"]:hover{
    background-color: #F55C4C;
    border: 0;
}
button[type="search"]{
    margin-left: 40px;
}
.button{
    margin-right: 0;
    display: inline;
}
.button button{
    height: 53px;
    width: 172px;
}
button[type="swap"]:hover img{
   opacity: 1;
}
button[type="swap"]{
    border: 0;
    display: table-cell;
    margin: 100px 30px;
}
button img{
    opacity: 50%;
}
#header{
    padding: 0 100px;
    margin: 30px auto;
    height: 70px;
}
#menu{
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}
#logo{
    float: left;
}
#search{
    height: 44px;
    float: right;
}
 [name="search"]:hover {
    width: 400px;
}
 form{
     width: 100%;
     display: flex;
     justify-content: space-between;
 }
form input{
    height: 42px;
    width: 220px;
}
form button{
    height: 42px;
    width: 94px;
}
#filter{
    height: 42px;
    margin: 40px auto;
}
hr{
    margin: 30px auto;
    width: 500px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
}

hr.vertical-line{
    border-left: 2px dotted #9b9b9b;
    height: 36px;
    width: 0;
    border-top:0;
    display: inline-block;
    vertical-align: middle;
    margin:0 15px;
}
label{
    margin-right: 15px;
    color: #9b9b9b;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}
#age,#region,#sex{
    height: 36px;
    margin-right: 15px;
}
#age{
    width: 77px;
}
#region{
    width: 92px;
}
#sex{
    width: 87px;
}
#age-filter{
    display: inline-block;
}
#region-filter{
    display: inline-block;
}
#only-favorites-filter{
    display: inline-block;
}
#only-with-photo-filter{
    display: inline-block;
}
#sex-filter{
    display: inline-block;
}
#teach-cards-grid{
    display: grid;
    grid-template-columns: 180px 180px 180px 180px 180px;
}


.teach-card{
    width: 160px;
    margin: 20px 10px;
    display: inline-block;
    position: relative;
}
.teach-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: #F49382 4px solid;
    display: inline-block;
    overflow: hidden;
}
.teach-img:hover img{
    border: #ce4420 4px solid;
    transform: scale(1.3);
}
.teach-img img {
    width: 150px;
    height: 150px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    display: block;
    transition: .3s ease-in-out;
}
.star{
    position: absolute;
    top:0;
    right:0;
    margin: 5px ;
}
.teach-card:hover span.teach-img{
    border: #ce4420 4px solid;
    color: #ce4420;
    font-size: 28px;
    line-height: 32px;
}
span.teach-img{
    display: block;
    padding: 57px;
    margin: auto 4px 4px 4px;
    border-radius: 50%;
    border: #F49382 4px solid;
    color: #F55C4C;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}
.teach-name{
    display: block;
    color: black;
}
.teach-subject{
    color: #9b9b9b;
    margin:10px auto 0 auto;
}
.teach-region{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
}
table{
    margin: 0 auto 30px auto;
    width: 100%;
    height: 410px;
}
th:hover{
    border-bottom: black 2px solid;
    background-color: #fafafa;
}
th:hover img{
    display: inline;
}
th img{
    margin-left: 15px;
    display: none;
}
th{
    font-size: 20px;
    border-bottom: black 1px solid;
    vertical-align: middle;
    background-color: white;
}
td{
    vertical-align: middle;
}
tr:nth-child(odd){
    background-color: #faf5fb;
}
#links-stat{
    display: block;
    height: 25px;
    margin-bottom: 10px;
}
[type="link-stat"]{
    float: left;
    border: transparent 1px solid;
}
.link{
    color: #159bb6;
}
[href="#popup-open"]{
    text-decoration: none;
}
#teach-cards-line{
    display: table-cell;
    vertical-align: middle;
}
#line{
    display: table;
    margin: 0 auto;

}
footer{
    padding: 0 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
p.text-end{
    text-align: left;
    margin: 15px auto;
}
#top-teachers{
    padding: 0 100px;
}
#statistics{
    padding: 0 100px;
}
#text-end{
    padding: 0 100px;
}





.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 10px auto;
    background: white;
    width: 600px;
    height: auto;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;
    overflow: hidden;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
    color: #767676;

}

.popup-header{
    background-color: #464648;
    display: flex;
    justify-content: space-between;
}
.popup-header h3 {
    margin: 10px auto 10px 15px;
    color: white;
}
.popup .close {
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin: 5px 15px 5px auto;
    border-bottom: 0;
}
.popup form{
    display: flex;
    width: 540px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 15px 30px 30px 30px;
}
.popup form *{
    text-align: left;
    margin: 5px 0;
    padding: 0;
}
#form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 2px;
    justify-items: stretch;
}

.popup input,select{
    height: 30px;
    width: 100%;
}
.sex-form input{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    vertical-align: middle;
}
.sex-form label{
    width: auto;
    vertical-align: middle;
}
.color input{
    width: 10%;
    margin-left: 40px;
    vertical-align: middle;
}
.comment textarea{
    display: block;
    width: 100%;
}
.popup button{
    width:100%;
    text-align: center;
}

.popup .star{
    position: absolute;
    top: 50px;
    right: 10px;
    height: 40px;
    width: 40px;
}

.popup img{
    margin: 10px;
    width: 250px;
    height: 250px;
    display: inline-block;
}
#popup-info{
    display: inline-block;
    margin-top: 10px;
}
#popup-info > p, #popup-info > a{
    margin: 10px 0;
    border-bottom: 0;
}
#popup-info > h3{
    margin-bottom: 10px;
}
#popup2{
    top: 100px;
    width:600px;
    text-align: left;
    color: black;
    padding-bottom: 10px;
}
.popup a{
    margin: 10px;
    color: #159bb6;
    text-decoration: none;
    border-bottom: dotted 2px #159bb6;
}
.popup h2 {
    color: black;
    font-weight: normal;
}
.popup p {
    margin: 10px;
}
#popup2-head{
    display: flex;
    align-items: flex-start;
}


@media screen and (max-width:768px){
    body{
        margin:0 10px;
        padding: 0 40px;
    }
    #header{
        display: block;
        height: 120px;
        padding: 0;
        margin: 0;
    }
    #logo{
        margin-top: 10px;
        display: block;
        height: 50px;
        width: 300px;
        float: left;
    }
    #search{
        display: block;
        width: 100%;
        margin-top: 10px;
    }

#menu{
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.menu-items{
    display: block;
    width: 100%;
    float: none;
}
.menu-items h3{
    display: inline;
}
.button{
    margin-top: 15px;
    width: 100%;
}
    [name="search"]{
        width: 100%;
    }
    [name="search"]:hover {
        width: 100%;
    }
#filter{
    height: auto;
    width: 100%;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}
#filter *{
    width: 100%;
    margin: 3px 0;
    text-align: left;
}
#only-with-photo-filter, #only-favorites-filter{
    display: flex;
    justify-content: flex-start;
    text-align: right;
}
    #only-with-photo-filter > label,#only-favorites-filter > label{
        margin-left: -80px;
        padding: 0;
    }
#only-with-photo,#only-favorites{
    margin-left: -100px
}
    hr.vertical-line{
    display: none;
}
    #teach-cards-grid{
        grid-template-columns: 180px 180px;
    }
table{
    margin: 0 0 30px 0;
}
#statistics{
    padding: 0;
}
#hide1,#hide2,#hide3{
    display: none;
}
    #hide1,#hide2,#hide3 *{
        display: none;
    }
    #text-end{
        padding: 0;
    }
    footer{
        width:100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0 0 30px 0;

    }
}